<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2 class="section-heading">Sites para aprender inglês</h2>
                <br><center>
                <%= image_tag("artigos/ingles.png") %>
                </center>
                <hr class="light">
                <h3><p class="text-faded">Hoje em dia, dominar o idioma inglês é um pré-requisito para o mundo e-commerce. Esse fator se destaca no mundo digital e empresarial.</p>
                <p>Por mais que existam ferramentas de tradução e auxílio em momentos casuais, o domínio básico ao avançado do idioma estrangeiro facilita muito a vida.</p>
                Pequenas coisas como data, nomes, produtos, objetos, valores e instruções aparecem a todo instante para nós, e um negociante definitivamente não pode ficar preso a isso no dia a dia.
                <br><center>
                <%= image_tag("artigos/degrau.jpg") %></center>
                <br><br>
                <p>Podemos dizer que a grande dificuldade do aprender o idioma inglês está hoje na falta de tempo e nos métodos. Mas se o caso for o método isso não pode ser desculpa mais, pois o que mais temos são métodos que se adaptam ao aluno.</p>
                <p>Existem métodos bem rudmentares onde o aluno fica minutos, horas, dias, semanas decorando palavras, textos, música...</p>
                <p>Existem métodos que o aluno escuta e tenta compreender com a lógica e associação...</p>
                <p>Existem métodos que o aluno usa somente imagens e nomes...</p>
                <p>Existem métodos que o aluno "joga". (método gameficado).</p>
                <p>O que não falta é o método ideal para você aprender!</p>
                <p>Hoje vamos deixar aqui alguns métodos gratuitos pra você.</p>
                 </h3>

                 </p>
                <br>
                <hr class="light">
                <p class="text-faded"></p>
                <h2>1 - <a href="https://www.duolingo.com/" target="_blank">Duolingo</a>, uma plataforma gratuita que você pode usar em seu celular ou no computador, onde você pode interagir com amigos fazendo competições e sendo lembrado quando necessário.</h2>
                <center><%= image_tag("artigos/duolingo.png") %></center>
                <br><br>

                <br>
                <h2>2 - <a href="https://www.engvid.com/english-lessons/" target="_blank">EngVid</a>, uma plataforma totalmente em Inglês que "força" a você conversar e entender de forma nativa.</h2>
                <center><%= image_tag("artigos/engVid.png") %></center>
                <br><br>
                <br>
                </p>
                <h2>3 - <a href="https://www.ted.com/" target="_blank">Ted</a>, uma plataforma também em Inglês bem semelhante ao anterior, totalmente gratuita e muito popular.</h2>
                <center><%= image_tag("artigos/ted.jpg") %></center>
                <br><br>
                <h2>4 - <a href="http://www.mairovergara.com/" target="_blank">Mairo Vergara</a>, um brasileiro que compreende bem e ensinara a você compreender inglês de um jeito diferente e inovador.</h2>
                <center><%= image_tag("artigos/mairo.jpg") %></center>
                <br><br>
                <h2>5 - <a href="https://www.youtube.com/user/eslwinner/videos" target="_blank">You tube - Canais</a>, uma boa e simples forma de aprender inglês, até mesmo mais rápida para o acesso.</h2>
                <center><%= image_tag("artigos/youtube.png") %></center>
                <br><br>
                <p class="text-faded">Não faltam opções para você aprender inglês, listamos aqui algumas gratuitas, então é hora de você dar um passo a frente, inovar, tirar os planos do papel, fazer o melhor!.<br><br>

                <br>
                <hr class="light">
                <h1>O que a Cruxhs pode fazer por você?</h1><br>
                <h3>Entre em contato conosco!<br><br>
                </h3>

              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>






