<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2 class="section-heading">Deficientes Auditivos- Aplicativos de celular que podem melhorar a qualidade de vida</h2>
                <br><center>
                <%= image_tag("artigos/aparelho_auditivo.jpg") %>
                </center>
                <hr class="light">
                <h3><p class="text-faded">O seu aparelho celular possui opções muito úteis para a sociedade. Principalmente para muitos daqueles que se sentem “esquecidos pela tecnologia ” por uma deficiência física.
                Neste texto estamos falando especificamente dos deficientes auditivos.
                É bem contraditória a ideia de se usar um aparelho que tem como fundamento principal  os sentidos da audição e da fala, para auxiliar surdos em suas diversas funções do dia a dia.
                Apesar da contradição é preciso olhar esses desafios como oportunidades que podem trazer autonomia e promover a inclusão social para essas pessoas.<br><center>
                <%= image_tag("artigos/smartphone.jpg") %></center>
                <br><br>

                 É bem contraditória a ideia de se usar um aparelho que tem como fundamento principal  os sentidos da audição e da fala, para auxiliar surdos em suas diversas funções do dia a dia.
                 Apesar da contradição é preciso olhar esses desafios como oportunidades que podem trazer autonomia e promover a inclusão social para essas pessoas.
                O smartphone é um aparelho de alta tecnologia, acessível a todo tipo de público hoje. Ele facilita o aprendizado construindo pontes entre mundos psicológicos, o que a pouco tempo  nem se podia imaginar. Uma dessas pontes são os APLICATIVOS, que de forma ágil e simples alimenta o apetite do conhecimento humano.
                Existem alguns aplicativos específicos para os deficientes auditivos. Aplicativos que traduzem conteúdos de sites, áudios, textos e até mesmo vídeos para Libras ( Língua Brasileira de Sinais).</h3>

                 </p>
                <br>
                <hr class="light">
                <p class="text-faded">Citamos aqui TRÊS aplicatívos que fazem os trabalhos especificados acima de forma gratuita.</p>
                <h2>1 - Wikilibras, um aplicativo desenvolvido pelo Portal do Software Público Brasileiro (PSB) que está disponível para download <a href="http://wikilibras.lavid.ufpb.br/">AQUI</a>.</h2>
                <center><%= image_tag("artigos/wikilibras.png") %></center>
                <br><br>

                <br>
                <h2>2 - Vlibras, um resultado de uma parceria entre o Ministério do Planejamento, Desenvolvimento e Gestão (MP), por meio da Secretaria de Tecnologia da Informação (STI) e a Universidade Federal da Paraíba (UFPB) disponível <a href="https://www.vlibras.gov.br/">AQUI</a>.</h2>
                <center><%= image_tag("artigos/vlibras.jpg") %></center>
                <br><br>
                <br>
                </p>
                <h2>3 - Hand Talk, aplicativo mais popular é da equipe que tem como nome o mesmo do aplicativo. De uma forma mais acessível está disponível no Google Play que você pode clicar <a href="https://play.google.com/store/apps/details?id=br.com.handtalk&hl=pt_BR">AQUI</a> para adquirir ou conhecer.</h2>
                <center><%= image_tag("artigos/hand_talk.jpg") %></center>
                <br><br>
                <p class="text-faded">Existem mais aplicativos na área, mas resolvemos deixar esses três por abrirem um grande leque de opções e abrangerem todos os pontos abordados inicialmente no texto.<br><br>

                <br>
                <hr class="light">
                <h1>A Cruxhs também cria aplicativos</h1><br>
                <h3>Solicite já um aplicativo para a sua empresa!<br><br>
                </h3>

              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>



