<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2 class="section-heading">A importância das vendas online.</h2>
                <br>
                <%= image_tag("artigos/vendas.jpg") %></center>

                <hr class="light">
                <h3><p class="text-faded">Fazer com que suas vendas sejam pela internet hoje se tornou algo viável e quase que obrigatório para o sucesso financeiro e na divulgação de sua marca.
                A grande maioria dos clientes hoje em dia buscam imediatamente o produto preterido na internet, usando o próprio celular, assim vemos a necessidade de um convênio com alguma empresa, um site ou até mesmo um aplicativo para sua venda para sua empresa.Assim, olhando com bons olhos, podemos afirmar que o salto para o sucesso da sua empresa passa pelo caminho da internet.

                <br>
                <center><%= image_tag("artigos/ecommerce.jpg") %></center>
                <br><br>
                Falamos neste texto de três opções. Uma delas é o convênio com outras empresas, onde sua venda entraria como sócia e assim dispensaria o trabalho de “construção” de um negócio online, tendo que dividir o lucro das vendas com a empresa conveniada.
                As outras opções também são extremamente interessantes tendo um lucro a médio prazo.
                Concluímos assim que qualquer das opções são interessantes para o empresário, desde que bem planejado.</h3>

                 </p>
                <br>
                <hr class="light">
                <p class="text-faded">Nestas opções de negócios online, podemos citar aqui cinco tipos como: e-commerce, varejo, compras coletivas, hotelarias e alimentação.</p>
                <h2>O Primeiro citado é o E-Commerce (Eletronic-Commerce)  ou comércio eletrônico que utiliza plataformas eletrônicas como computadores, smartphones e tablets para compra e venda de produtos em grande escala.<br>
                <center><%= image_tag("artigos/B2W.png") %></center><br>
                A <a href="https://ri.b2w.digital/">B2W</a>,
                segundo pesquisa da revista Exame, é a maior empresa E-Commerce do Brasil, faturando no ano de 2014, cerca de 9,09 bilhões de reais.</h2>
                <br><br>
                <br>
                <h2>O segundo é o varejo que se diversifica nos produtos e na quantidade de produtos vendidos.<br>
                <center><%= image_tag("artigos/americanas.png") %></center><br>A <a href="https://www.americanas.com.br/">Americanas</a><br> é considerada a maior loja varejista do Brasil.</h2>
                <br><br>
                <br>
                </p>
                <h2>O terceiro são as compras coletivas onde é possível comprar inúmeros produtos com preços bem mais em conta, desde que se faça as compras em conjunto com outras pessoas.<br>
                <center><%= image_tag("artigos/groupon.jpg") %></center><br>O <a href="https://www.groupon.com.br/brasil">Groupon</a> é uma loja de compras coletivas com alto índice de busca no google.</h2>
                <br><br>
                <br>
                </p>
                <h2>O quarto é o serviço de hotelaria que tem sido solicitado com grande afinco, principalmente em um país como o Brasil que tem um extenso território turístico.<br>
                <center><%= image_tag("artigos/trivago.jpg") %></center><br>O <a href="https://https://www.trivago.com.br/">Trivago</a> é um site que trabalha diretamente com esse serviço e que tem também um alto índice de busca no google.</h2>
                <br><br>
                <br>
                </p>
                <h2>O último e não menos importante é o serviço de alimentação que vai desde entrega rápida (para locais próximos) até a encomenda para festas e buffet.<br>
                <center><%= image_tag("artigos/pedidosja.jpg") %></center><br>A <a href="https://https://www.pedidosja.com.br/">PedidosJá</a> é uma empresa que faz serviço de Delivery de comida.</h2>
                <br><br>
                <p class="text-faded">Existem mais opções de comércio online e se nenhuma das citadas acima se enquadra no seu tipo de comércio, com certeza já temos preparada a opção para a sua empresa!<br><br>

                <br>
                <hr class="light">
                <h1>A Cruxhs pode criar a sua venda online!</h1><br>
                <h3>Entre em contato conosco! Solicite já um orçamento!<br><br>
                </h3>

              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
