<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Solicitação</h1><br>
    <h2>Mensagem do(a): <%= @user.nome %>.</h2><br>
    <br>
    <p><h2>Dados: </h2><br>
    <h3>Telefone/Celular: <%= @user.telefone %> <br>
    Email: <%= @user.email %> <br>
    </p><br>
    <h2>Pedido: <br>
    <%= @user.pedido %><br>
    <h2>Mensagem: <br>
    <%= @user.mensagem %>
    </h2><br><br>
    <p><h1>“O Espírito Santo descerá sobre ti” (Lucas 1, 35)</h1></p>
  </body>
</html>
