<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2 class="section-heading">Por que ter um cartão de visitas?</h2>
                <br>
                <center><%= image_tag("artigos/cartao.png") %></center>

                <hr class="light">
                <p class="text-faded">O cartão de visitas é uma excelente forma divulgar seus negócios e principalmente publicitar a você mesmo.
                Esse pequeno documento não somente traz mais credibilidade, como também ajuda a difundir suas especialidades, facilita o contato e faz com que os possíveis clientes se lembrem de você na hora em que mais precisarem.


                <br><br>

                 Para os resultados serem mais consistentes, é preciso que você converse pessoalmente, pelo menos por poucos minutos, com um possível cliente (Prospect) e lhe ofereça o seu cartão de visitas ao final da conversa. Fazendo isso, você cria uma relação de confiança e intimidade.</p>
                <br>
                <hr class="light">
                <p class="text-faded">Três bons motivos para se fazer o cartão de visitas</p>
                <h2>1 - Boa e sólida "Primeira Impressão".</h2>
                <center><%= image_tag("artigos/chuck.jpg") %></center>
                <br><br>
                <p class="text-faded">O cartão de visita é parte da sua apresentação.<br> Este artifício contém todas as informações de contato necessárias para captar a atenção do seu cliente e ajudá-lo a lembrar de você e da sua empresa, mesmo depois de passado muito tempo desde o primeiro contato.
                As pessoas esperam naturalmente por um cartão. E isso reforça sua credibilidade e legitimidade além da primeira boa impressão.

                <br>
                <h2>2 - Construção de uma marca.</h2>
                <center><%= image_tag("artigos/registrada.jpg") %></center>
                <br><br>
                <p class="text-faded">Os cartões são uma forma simples de estabelecer a sua marca, o que torna seu negócio mais facilmente reconhecido.
                Um cartão deve conter o logotipo da empresa, slogan de publicidade e informações de contato necessárias, incluindo um número de telefone, endereço do site e e-mail, formas de você ou a empresa serem facilmente encontrados.<br>

                Hoje em dia já se utilizam códigos QR em cartões de visita, que ao serem digitalizados, por smartphone ou tablets, direcionam o cliente ao site da empresa ou página de mídia social.
                <br>
                </p>
                <h2>3 - Baixo Custo.</h2>
                <center><%= image_tag("artigos/pig.jpg") %></center>
                <br><br>
                <p class="text-faded">Uma das maiores vantagens de um cartão de visita é a sua acessibilidade. Empresas e Trabalhadores Autônomos podem ter cartões de visita por investimentos muito menores do que para produzir outros tipos de materiais de marketing, como anúncios publicitários, kits de imprensa e amostras de produtos. Um investimento tão baixo que pode ser facilmente encaixado em qualquer orçamento empresarial. Um cartão de visita é uma excelente maneira de uma empresa ganhar força com design, recebendo atenção.<br><br>

                O cartão de visitas deve ser um recurso rápido e ao alcance das mãos, o empresário, empreendedor, não perde a oportunidade de entregar o seu cartão e está provido dele a todo o momento. Afinal, apesar do marketing online ter se tornado uma ferramenta popular entre os profissionais de negócios, o marketing tradicional ainda permanece forte.

                <br>
                <hr class="light">
                <h1>NÃO PERCA TEMPO!</h1><br>
                <h3>Solicite já o seu cartão de visitas!<br><br>
                A CruxHS fará um excelente trabalho pra você.<br>
                </h3>

              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
