<header>
    <div class="header-content" style="color: black;">
        <div class="header-content-inner">
        </br></br></br></br></br>
            <p id="notice"><%= notice %></p>

            <p>
              <strong>Agradecemos o contato Sr.(a)</strong>
              <%= @contato.nome %> <br>
              <strong>Pedido:</strong><br>
              <%= @contato.pedido %><br><br>
              <strong> Lhe enviaremos a resposta no email: </strong>
              <%= @contato.email %><br>
              <strong> ou no telefone: </strong> <%= @contato.telefone %><br>
              <strong>Qualquer dúvida pode entrar em contato pelo wpp: (31)986304286 ou pelo telefone (31)3350-1813. </strong>
            </p>

            <%= link_to 'CruxHS', root_path, :class => 'submit_button' %>
            <!--<p>
              <strong>Email:</strong>
              <%#= @contato.email %>
            </p>

            <p>
              <strong>Telefone:</strong>
              <%#= @contato.telefone %>
            </p>

            <p>
              <strong>Cidade:</strong>
              <%#= @contato.cidade %>
            </p>

            <p>
              <strong>Description:</strong>
              <%#= @contato.description %>
            </p>-->
        </div>
  </div>
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</header>
