<div class="main">
     <div class="wrap">
         <div class="services_grid">
          <div class="content_bottom">
                  <div class="image group marketing">
                  <div class="grid images_3_of_1">
                    <a href="https://www.facebook.com/magnificaop/" target="_blank"><%= image_tag 'magnifica.jpg' %></a>
                  </div>
                    <div class="grid blog-desc">
                      <h4><a href="https://www.facebook.com/magnificaop/" target="_blank">Magníica Modas</a></h4>
                      <p>A Cruxhs trabalhou na criação do nome e marca da Magnífica Modas, a mais nova loja de modas da cidade de Ouro Preto-MG que tem surpreendido a todos com preços e produtos de qualidade garantida. A parceria entre a Magnífica e a Cruxhs tem sido constante e forte.</p>
                      <!-- <div class="view-all"><a href="#">More Info</a></div> -->
                   </div>
                    </div>
                 <div class="image group marketing">
                  <div class="grid images_3_of_1">
                    <a href="http://www.descubragerais.com.br" target="_blank"><%= image_tag 'descubra2.png' %></a>
                  </div>
                    <div class="grid blog-desc">
                      <h4><a href="http://www.descubragerais.com.br" target="_blank">Descubra Gerais</a></h4>
                         <p>A Cruxhs trabalhou no desenvolvimento do Website, imagem, cartões de visita e propagandas desta surpreendente empresa de Turismo que vem revolucionando a visita na Estrada Real. A parceria entre a Cruxhs e a Descubra Gerais tem sido muito forte também.</p>
                      <!-- <div class="view-all"><a href="#">More Info</a></div> -->
                   </div>
                    </div>
                 <div class="image group marketing">
                    <div class="grid images_3_of_1">
                      <a href="http://www.superarcursos.com.br/" target="_blank"><%= image_tag 'superar2.png' %></a>
                    </div>
                      <div class="grid blog-desc">
                        <h4><a href="http://www.superarcursos.com.br/" target="_blank">Superar Cursos</a></h4>
                           <p>A Superar Cursos é um Centro Profissionalizante de melhor qualidade possível na região, padrão em qualidade e excelente serviço para o cidadão que deseja se qualificar. Inumeros testemunhos de sucesso profissionais após o estudo neste Centro. A Cruxhs desenvolveu o Website dessa excelente empresa.</p>
                        <!-- <div class="view-all"><a href="#">More Info</a></div> -->
                       </div>
                    </div>
                   <div class="image group marketing">
                      <div class="grid images_3_of_1">
                        <a href="https://www.facebook.com/ManaVilessa" target="_blank"><%= image_tag 'mana.jpg' %></a>
                      </div>
                      <div class="grid blog-desc">
                        <h4><a href="https://www.facebook.com/ManaVilessa" target="_blank">Maná Vilessa</a></h4>
                           <p>O Maná Vilessa é um Espaço Gourmet inovador localizado em Lavras Novas-MG. Ambiente familiar com a comida típica mineira, localizado em um dos locais mais lindos do mundo. A Cruxhs trabalhou no desenvolvimento da imagem e propaganda dessa empresa.</p>
                        <div class="view-all"><a href="#">More Info</a></div>
                       </div>
                    </div>
                    <div class="image group marketing">
                      <div class="grid images_3_of_1">
                        <a href="#"><%= image_tag 'ouro_da_roca.jpg' %></a>
                      </div>
                      <div class="grid blog-desc">
                        <h4><a href="#">Ouro da Roça</a></h4>
                           <p>Ouro da Roça é surpresa da Região dos Inconfidêntes. Trazendo produtos como queijo, geléia e café que são fabricados na roça com aquele jeitinho mineiro que é tão procurado. A Cruxhs está trabalhando no Desenvolvimento Completo desta empresa graciosa.</p>
                        <!-- <div class="view-all"><a href="#">More Info</a></div> -->
                       </div>
                    </div>
                    <div class="image group marketing">
                      <div class="grid images_3_of_1">
                        <a href="#"><%= image_tag 'marcinha.png' %></a>
                      </div>
                      <div class="grid blog-desc">
                        <h4><a href="#">Salão da Marcinha</a></h4>
                           <p>O Salão da Marcinha é um espaço de beleza excelente e inovador onde há trabalhos completos no âmbito da produção estética com os melhores preços e qualidade. A Cruxhs trabalhou na produção da imagem dessa empresa.</p>
                        <!-- <div class="view-all"><a href="#">More Info</a></div> -->
                       </div>
                    </div>

              </div>
            </div>
        <div class="sidebar">
            <div class="sidebar_left_top">
               <div class="services">
                <h3>Serviços</h3>
                 <div class="services_list">
                    <ul>
                      <li><%= link_to 'WebSites', responsivos_index_path %></li>
                      <li><%= link_to 'Sistemas de Cadastros', sistemas_de_cadastros_index_path %></li>
                      <li><%= link_to 'Aplicativos', aplicativos_index_path %></li>
                      <li><%= link_to 'Anúncios e Propagandas', anuncios_propagandas_index_path %></li>
                      <li><%= link_to 'Cartão de Visita', cartao_de_visitas_index_path %></li>
                      <li><%= link_to 'E-mail Marketing', email_marketing_index_path %></li>
                      <li><%= link_to 'Desenvolvimento de Micro-Empresas',desenvolvimento_index_path %></li>
                      <li><%= link_to 'Artes em Geral', artes_index_path %></li>
                    </ul>
                    </div>
                  </div>
              </div>
              <div class="sidebar_right_top">
        <h3>Textos</h3>
         <div class="latestnews">
           <div class="latestnews_desc">
              <h4>Vendas On-line</h4>
              <p>Fazer com que suas vendas sejam pela internet hoje se tornou algo viável e quase que obrigatório para o sucesso financeiro e na divulgação de sua marca.</p>
              <span><%= link_to 'Leia mais', artigos_vendas_on_line_index_path %></span>
           </div>
               <div class="latestnews_desc">
                  <h4>Cartão de visita</h4>
                  <p>O cartão de visitas é uma excelente forma divulgar seus negócios e principalmente publicitar a você mesmo.</p>
                  <span><%= link_to 'Saiba mais', artigos_cartao_visita_index_path %></span>
              </div>
              <div class="view-all"><%= link_to 'Leita todos os textos', artigos_index_path %></div>
        </div>
      </div>

        </div>
    <div class="clear"></div>
 </div>
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
