<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2 class="section-heading">Por que criar um site para sua empresa?</h2>
                <br>
                <center><%= image_tag("artigos/img.png") %></center>

                <hr class="light">
                <p class="text-faded">Criar um site para sua empresa é necessário!<br> Independente do estado atual da sua empresa, um site tem diversas vantagens, uma delas é demarcar, na web, o local do seu negócio.<br><br>

                Estar conectado à internet é fundamental para qualquer empresa que tenha como metas, ampliação de mercado, consolidação da marca e otimização de receitas.</p>
                <br>
                <hr class="light">
                <p class="text-faded">Um bom motivo para que sua empresa tenha um site:</p>
                <h2>CREDIBILIDADE</h2>
                <center><%= image_tag("artigos/credibilidade.jpg") %></center>
                <br><br>
                <p class="text-faded">No mundo real, é muito difícil para uma pequena empresa concorrer com empresas de grande porte. Na internet é possível que um pequeno negócio, com um site bem projetado, um bom design gráfico, navegação simples e informações bem redigidas seja bem avaliada pelos seus clientes - mesmo quando comparada com concorrentes de maior porte. Um bom site passa a imagem de uma empresa bem posicionada no mercado, com profissionalismo e organização.<br><br>
                A credibilidade é uma característica altamente desejada em nossa vida cotidiana e, principalmente, nos negócios online, onde as interações são completamente impessoais. Credibilidade é a chave de sucesso para construir sua marca e seu negócio. Conquistando a confiança transforma-se visitantes em potenciais compradores. <br>
                <h3>Confiança é fundamental.</h3>
                <center><%= image_tag("artigos/sucesso.jpg") %></center>
                </p>
                <hr class="light">


              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  </div>
</div>
<div class="main">
       <div class="wrap">
         <div class="services_grid">
              <div class="content_bottom">
                <div class="section group service_desc">
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                          <%= image_tag'artigos/ecommerce.jpg' %>
                    </div>
                    <div class="text list_2_of_1">
                        <h4>Vendas On-line</h4>
                        <p>Fazer com que suas vendas sejam pela internet hoje se tornou algo viável e quase que obrigatório para o sucesso financeiro e na divulgação de sua marca.</p>
                        <div class="view-all"><%= link_to 'Leia...', artigos_vendas_on_line_index_path %></div>
                   </div>
               </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                          <%= image_tag'artigos/cartao.png' %>
                    </div>
                    <div class="text list_2_of_1">
                          <h4>Cartão de visita</h4>
                          <p>O cartão de visitas é uma excelente forma divulgar seus negócios e principalmente publicitar a você mesmo.</p>
                         <div class="view-all"><%= link_to 'Leia mais...', artigos_cartao_visita_index_path %></div>
                    </div>
                </div>
            </div>
            <div class="section group service_desc">
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                          <%= image_tag'artigos/img.png' %>
                    </div>
                    <div class="text list_2_of_1">
                        <h4>Por que criar um website?</h4>
                        <p>Independente do estado atual da sua empresa, um site tem diversas vantagens, uma delas é demarcar, na web, o local do seu negócio.</p>
                        <div class="view-all"><%= link_to 'Continue lendo...', artigos_web_site_index_path %></div>
                   </div>
               </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                          <%= image_tag"artigos/smartphone.jpg" %>
                    </div>
                    <div class="text list_2_of_1">
                          <h4>App para deficientes</h4>
                          <p>O seu aparelho celular possui opções muito úteis para a sociedade. Principalmente para muitos daqueles que se sentem “esquecidos pela tecnologia ” por uma deficiência física.
                            Neste texto estamos falando especificamente dos deficientes auditivos.</p>
                         <div class="view-all"><%= link_to 'Saiba mais...', artigos_app_deficientes_index_path %></div>
                    </div>
                </div>
            </div>

           </div>
        </div>
    <div class="clear"></div>

 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
 </div>
</div>
