<!DOCTYPE html>
<html>
<head>
  <title>Congresso Arquidiocesano de Intercessão::Inscrição</title>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag('crux_aba.png') %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93344681-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7700407018974046",
    enable_page_level_ads: true
  });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113127916-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113127916-1');
</script>

<!-- anuncio adsence -->

</head>
<body>
    <%= yield %>
<div class="footer">
    <div class="wrap">
       <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <div class="location">
                        <h3>Encontre-nos</h3>
                        <ul>
                            <li>
            					<a href="http://www.cruxhs.com" target="_blank">
                            	<%= image_tag "logo2.png"  %>
                            	</a>	
                            	</li>
                              <li>Rua João XXII, 328.</li>
                              <li>Bairro São Cristóvão.</li>
                               <li>Ouro Preto - MG.</li>
                         </ul>
                    </div>
                </div>
                  <div class="col_1_of_4 span_1_of_4">
                    <h3>Informação</h3>
                    <p>Estamos estabelecendo um local fixo, assim qualquer pedido de cunho "pessoal" será AGENDADO para que haja uma reunião. Fazemos orçamentos em domicílio (Para as cidades de Ouro Preto e Mariana). Nosso retorno é imediato.</p>
                  </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h3>Testemunhos</h3>
                        <div class="Testimonials_desc">
                        <p>Em breve aqui colocaremos alguns testemunhos</p>
                       </div>
                    </div>
                        <div class="col_1_of_4 span_1_of_4">
                               <h3>Contato</h3>
                                   <ul class="address">
                                     <li>contato@cruxhs.com</li>
                                     <li><span>Celular (wpp):</span>(31)9-8630-4286</li>
                                     <li><span>Telefone:</span>(31)3350-1813</li>
                                  </ul>
                          </div>
                      </div>
                </div>
          <div class="copy-right">
            <div class="wrap" style="color: white;">
            	<a href="http://www.cruxhs.com" target="_blank">
		            &copy; Cruxhs Desenvolvimento
		        </a>
              <div class="clear"></div>
        </div>
    </div>
 </div>

</body>
</html>

<style type="text/css">
	a:hover{
		background: none;
		text-decoration: none;
	}
</style>